body {
  background: transparent;
  font-family: Inter;
  overflow-x: hidden;
}

h1,h2,h3,p,a,button{
    color: #F9FAFB; 
}
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;

  /* Темний неоновий фон */
    background-color: #0F0F12;
  }