body{
background: linear-gradient(0deg, var(--color-azure-11, #0b1e45) 0%, var(--color-azure-11, #040d20) 100%), var(--color-white-solid, #FFF);
font-family: Inter;
}
h1,h2,h3,p,a,button{
    color: #F9FAFB; 
}