.about {
  &__title {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media screen and (min-width: 736px) {
      flex-direction: row;
      gap: 40px;
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    gap: 16px;

    p:nth-child(-n + 2) {
      font-weight: 200;
      font-size: 18px;
      line-height: 1.6;

      @media screen and (min-width: 736px) {
        width: 344px;
      }

      @media screen and (min-width: 1396px) {
        width: 600px;
      }
    }
  }

  &__skills {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__items {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
  }

  &__button{
        padding: 8px 16px;
    border-radius: 8px;
    background: var(--color-azure-17, #1f2937);
    border: none;
        transition: transform 500ms ease-in, background-color 400ms ease-in;
    &:hover {
      transform: scale(1.05);
      background-color: #8b5cf6;
    }

        &.active {
      background: #8b5cf6;
      color: white;
    }
  }
&__btn {
  padding: 8px 16px;
  border-radius: 8px;
  background: var(--color-azure-17, #1f2937);
  border: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  font-weight: 600;
  cursor: pointer;

  transition: transform 500ms ease-in, background-color 400ms ease-in;

  .about__text {
    color: #8b5cf6;
    transition: color 400ms ease-in;
  }

  .about__icon {
    fill: #8b5cf6; 
    transition: fill 400ms ease-in; 
  }

  &:hover {
    transform: scale(1.05);
    background-color: #6828fd;

    .about__text {
      color: #fff;
    }

    .about__icon {
      fill: #fff;
    }
  }
}



  &__list {
    display: none;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
      @media screen and (min-width: 358px){
    width: 348px;           
  }
  @media screen and (min-width: 736px){
   width: 300px;
  }
    @media screen and (min-width: 1396px){
    width: 500px;
  }

    &.active {
      display: flex;
    }
  }

  &__text {
    color: #8b5cf6;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-right: 8px;

  }

  &__icon {
    width: 15px;
    height: 15px;
    fill: $button-color;
  }
}
