.header {
  // background-color: ;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;

  &__box {
    display: flex;
    align-items: center;
  }

  &__logo {
    font-size: 25px;
    line-height: 1.4;
    font-weight: 600;
    width: 100px;
        display: block;

    transition: color 400ms ease-in,transform 400ms ease-in;
    &:hover{
      color: rgb(1, 1, 255);
      transform: translateY(5px);
    }
    @media screen and (min-width: 358px) {
      margin-right: auto;
    }
    @media screen and (min-width: 736px) {
      width: 100%;
    }
  }

  &__nav {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__link{
    display: block;

    transition: color 400ms ease-in,transform 400ms ease-in;
    &:hover{
      color: rgb(1, 1, 255);
      transform: scale(1.2);
    }
  }
}
