.hero {
  padding: 80px 0;

  &__title {
    width: 199px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 16px;
    @media screen and (min-width: 358px) {
      width: 311px;
      font-size: 27px;
    }
    @media screen and (min-width: 736px) {
      width: 563px;
      font-size: 45px;
    }
    &:nth-child(2) {
      color: #8b5cf6;
      @media screen and (min-width: 358px) {
        width: 311px;
        font-size: 20px;
      }
      @media screen and (min-width: 736px) {
        width: 563px;
        font-size: 30px;
      }
    }
  }
  &__text {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
  }

  &__link {
    display: flex;
    padding: 12px 29.1px 12px 29.09px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    transition: transform 500ms ease-in, background-color 400ms ease-in;
    &:hover {
      transform: scale(1.1);
      background-color: #1f2937;
    }
    background: var(--color-violet-66, #8b5cf6);
    width: 67px;
    text-align: center;
    @media screen and (min-width: 358px) {
      padding: 12px 44.43px 12px 44.41px;
    }
    @media screen and (min-width: 736px) {
      width: 111px;
      height: 19px;
      padding: 12px 24px;
    }
  }

  &__btn {
    display: flex;
    padding: 12px 34.72px 12px 34.71px;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background: var(--color-azure-17, #1f2937);
    border: none;
    width: 145px;

    transition: transform 500ms ease-in, background-color 400ms ease-in;
    &:hover {
      transform: scale(1.05);
      background-color: #8b5cf6;
    }

    animation: scaleBtn 2000ms infinite alternate;
    animation-timing-function: ease-in;

    @media screen and (min-width: 358px) {
      padding: 12px 54.41px 12px 54.39px;
    }
    @media screen and (min-width: 736px) {
      width: 200px;
      padding: 12px 24px;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 736px) {
      justify-content: start;
      gap: 16px;
      justify-content: center;
      align-items: center;
    }
  }
  @keyframes scaleBtn {
    0% {
      scale: 1;
    }
    25% {
      scale: 1.02;
    }
    50% {
      scale: 1.05;
    }
    75% {
      scale: 1.07;
    }
    100% {
      scale: 1.1;
    }
  }
}
